@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

.menu {
    background-color: #000042;
}

.logo-aqua {
    width: 160px;
}

.nav-link {
    color: #F7ECE1;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.nav-link:hover {
    color: #f5993d;
}

.navbar-toggler-icon {
  background-color: #F7ECE1;
}

.banner {
  position: relative;
  width: 100%;
  height: 90vh;
  background: url("../imagenes/mujer-nadando.jpg") center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .overlay {
  background: rgba(189, 189, 189, 0.35);
  color: #000042;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
}
.banner h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  text-align: center;
  margin: 20px;
  color: #000042;
}

.card-valores {
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    min-height: 250px;
}

.card-valores h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-comodidad {
    background-color: #F5E6D3; 
}

.card-calidad {
    background-color: #C8C8C8; 
}

.card-diseno {
    background-color: #F5EBE0;
}

.footer {
    background-color: #000042; 
}
.footer img {
    width: 120px;
    height: auto;
    object-fit: contain;
}

.card {
  text-align: center;        /* centra el texto */
  display: flex;             /* activa flexbox */
  flex-direction: column;    /* organiza elementos en columna */
  align-items: center;       /* centra horizontalmente */
  justify-content: center;   /* centra verticalmente si hay altura */
  width: 290px;   /* ancho fijo */
  height: 350px;  /* alto fijo */
  margin: 0 auto; /* centra la tarjeta dentro de la columna */

}

.card img {
  margin-top: 20px; /* ajusta el margen de la imagen */
}
